
# 1. 공통 의존성 및 핵심 
node_modules/
jspm_packages/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# 2. 환경변수 & 보안 키 
.env
.env.*
*.pem


# 3. 빌드 결과물 & 임시 파일
dist/
build/
out/
.next/
.nuxt/
.output/
.swc

# 4. frontend/Granite/React Native 관련
.granite
npm-debug.log
yarn-error.log
yarn-debug.log*

# 5. 로그 파일 (서버 로그 등)
logs
*.log
npm-debug.log*
pnpm-debug.log*

# 6. OS 및 에디터 설정 (맥/윈도우/VSCode)
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# 7. 테스트 커버리지 및 기타
coverage/
.vercel
.serverless